In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
df=pd.read_csv(r"C:\Users\Admin\Downloads\diamonds (1).csv")
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [6]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\admin\anaconda3\lib\site-packages (1.0.2)
Requirement already satisfied: numpy>=1.14.6 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: joblib>=0.11 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn) (1.7.3)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import sklearn

print(sklearn.__version__)

1.0.2

In [8]:
y = df['price']

X = df[['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z']]

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=100)

In [10]:
X_train.head()

       carat        cut color clarity  depth  table     x     y     z
29477   0.32      Ideal     F     VS1   61.3   56.0  4.40  4.44  2.71
52542   0.72  Very Good     I    VVS2   61.7   55.0  5.76  5.81  3.57
8725    0.38  Very Good     D     SI1   62.0   55.0  4.67  4.72  2.91
15577   1.00  Very Good     H    VVS2   62.6   56.0  6.36  6.39  3.99
19651   1.70    Premium     H     SI2   59.8   61.0  7.67  7.62  4.57

In [11]:
X_train_cat = X_train.select_dtypes(include=['object'])

X_train_cat.head()

             cut color clarity
29477      Ideal     F     VS1
52542  Very Good     I    VVS2
8725   Very Good     D     SI1
15577  Very Good     H    VVS2
19651    Premium     H     SI2

In [12]:
X_train_num = X_train.select_dtypes(include=['int64', 'float64'])

X_train_num.head()

       carat  depth  table     x     y     z
29477   0.32   61.3   56.0  4.40  4.44  2.71
52542   0.72   61.7   55.0  5.76  5.81  3.57
8725    0.38   62.0   55.0  4.67  4.72  2.91
15577   1.00   62.6   56.0  6.36  6.39  3.99
19651   1.70   59.8   61.0  7.67  7.62  4.57

In [13]:
# scaling the numerical features
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# column names are (annoyingly) lost after Scaling
# (i.e. the dataframe is converted to a numpy ndarray)

X_train_num_rescaled = pd.DataFrame(scaler.fit_transform(X_train_num), 
                                    columns = X_train_num.columns, 
                                    index = X_train_num.index)

X_train_num_rescaled.head()

          carat     depth     table         x         y         z
29477 -1.007784 -0.316595 -0.647912 -1.187006 -1.122457 -1.191717
52542 -0.166198 -0.038325 -1.095448  0.023744  0.062997  0.043156
8725  -0.881547  0.170377 -1.095448 -0.946636 -0.880174 -0.904537
15577  0.422912  0.587782 -0.647912  0.557898  0.564868  0.646234
19651  1.895688 -1.360107  1.589767  1.724135  1.629180  1.479055

In [14]:
X_train_cat['cut'].value_counts(normalize=True)

Ideal        0.400339
Premium      0.254224
Very Good    0.224006
Good         0.092033
Fair         0.029398
Name: cut, dtype: float64

In [15]:
X_train_cat['color'].value_counts(normalize=True)

G    0.210419
E    0.181736
F    0.178479
H    0.153583
D    0.122888
I    0.100244
J    0.052651
Name: color, dtype: float64

In [16]:
X_train_cat['clarity'].value_counts(normalize=True)

SI1     0.242094
VS2     0.226283
SI2     0.169765
VS1     0.152153
VVS2    0.095212
VVS1    0.068515
IF      0.032602
I1      0.013375
Name: clarity, dtype: float64

In [17]:
from sklearn.preprocessing import OneHotEncoder

encoder_ = OneHotEncoder(drop='first',  sparse=False)

# column names are (annoyingly) lost after OneHotEncoding
# (i.e. the dataframe is converted to a numpy ndarray)

X_train_cat_ohe = pd.DataFrame(encoder_.fit_transform(X_train_cat), 
                               columns=encoder_.get_feature_names_out(X_train_cat.columns), 
                               index = X_train_cat.index)

X_train_cat_ohe.head()

,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_E,color_F,color_G,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
29477,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
52542,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8725,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
15577,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
19651,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [18]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(drop='first', sparse=False)

# column names are (annoyingly) lost after OneHotEncoding
# (i.e. the dataframe is converted to a numpy ndarray)

X_train_cat_ohe = pd.DataFrame(encoder.fit_transform(X_train_cat), 
                               columns=encoder.get_feature_names_out(X_train_cat.columns), 
                               index = X_train_cat.index)

X_train_cat_ohe.head()

,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_E,color_F,color_G,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
29477,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
52542,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8725,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
15577,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
19651,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [19]:
X_train_cat_le = pd.DataFrame(index=X_train_cat.index)

X_train_cat_le.head()

Empty DataFrame
Columns: []
Index: [29477, 52542, 8725, 15577, 19651]

In [20]:
X_train_cat.cut.unique()

array(['Ideal', 'Very Good', 'Premium', 'Good', 'Fair'], dtype=object)

In [21]:
cut_encoder = {'Fair' : 1, 'Good' : 2, 'Very Good' : 3, 'Ideal' : 4, 'Premium' : 5}

X_train_cat_le['cut'] = X_train_cat['cut'].apply(lambda x : cut_encoder[x])

X_train_cat_le.head()

       cut
29477    4
52542    3
8725     3
15577    3
19651    5

In [22]:
color_encoder = {'J':1, 'I':2, 'H':3, 'G':4, 'F':5, 'E':6, 'D':7}

X_train_cat_le['color'] = X_train_cat['color'].apply(lambda x : color_encoder[x])

X_train_cat_le.head()

       cut  color
29477    4      5
52542    3      2
8725     3      7
15577    3      3
19651    5      3

In [23]:
clarity_encoder = {'I1':1, 'SI2':2, 'SI1':3, 'VS2':4, 'VS1':5, 'VVS2':6, 'VVS1':7, 'IF':8}

X_train_cat_le['clarity'] = X_train_cat['clarity'].apply(lambda x : clarity_encoder[x])

X_train_cat_le.head()

       cut  color  clarity
29477    4      5        5
52542    3      2        6
8725     3      7        3
15577    3      3        6
19651    5      3        2

In [24]:
X_train_transformed = pd.concat([X_train_num_rescaled, X_train_cat_le], axis=1)

X_train_transformed.head()

,carat,depth,table,x,y,z,cut,color,clarity
29477,-1.007784,-0.316595,-0.647912,-1.187006,-1.122457,-1.191717,4,5,5
52542,-0.166198,-0.038325,-1.095448,0.023744,0.062997,0.043156,3,2,6
8725,-0.881547,0.170377,-1.095448,-0.946636,-0.880174,-0.904537,3,7,3
15577,0.422912,0.587782,-0.647912,0.557898,0.564868,0.646234,3,3,6
19651,1.895688,-1.360107,1.589767,1.724135,1.629180,1.479055,5,3,2

In [25]:
X_test_cat = X_test.select_dtypes(include=['object'])

X_test_cat.head()

           cut color clarity
52264    Ideal     E     VS2
21073    Ideal     G     VS1
42161    Ideal     G     SI1
35974    Ideal     F     VS1
7641   Premium     G      IF

In [26]:
X_test_num = X_test.select_dtypes(include=['int64', 'float64'])

X_test_num.head()

       carat  depth  table     x     y     z
52264   0.57   61.5   57.0  5.35  5.32  3.28
21073   1.16   61.5   55.0  6.75  6.81  4.17
42161   0.51   63.2   58.0  5.05  5.08  3.20
35974   0.42   60.6   56.0  4.83  4.87  2.94
7641    0.80   62.6   58.0  5.89  5.93  3.70

In [27]:
X_test_num_rescaled = pd.DataFrame(scaler.transform(X_test_num), 
                                   columns = X_test_num.columns, 
                                   index = X_test_num.index)

X_test_num_rescaled.head()

          carat     depth     table         x         y         z
52264 -0.481793 -0.177460 -0.200377 -0.341261 -0.360998 -0.373255
21073  0.759547 -0.177460 -1.095448  0.905098  0.928292  0.904696
42161 -0.608031  1.005187  0.247159 -0.608339 -0.568668 -0.488127
35974 -0.797388 -0.803567 -0.647912 -0.804195 -0.750380 -0.861460
7641   0.002119  0.587782  0.247159  0.139477  0.166832  0.229823

In [28]:
X_test_cat_le = pd.DataFrame(index = X_test_cat.index)

X_test_cat_le.head()

Empty DataFrame
Columns: []
Index: [52264, 21073, 42161, 35974, 7641]

In [29]:
X_test_cat_le['cut'] = X_test_cat['cut'].apply(lambda x : cut_encoder[x])

X_test_cat_le['color'] = X_test_cat['color'].apply(lambda x : color_encoder[x])

X_test_cat_le['clarity'] = X_test_cat['clarity'].apply(lambda x : clarity_encoder[x])

X_test_cat_le.head()

       cut  color  clarity
52264    4      6        4
21073    4      4        5
42161    4      4        3
35974    4      5        5
7641     5      4        8

In [30]:
X_test_transformed = pd.concat([X_test_num_rescaled, X_test_cat_le], axis=1)

X_test_transformed.head()

,carat,depth,table,x,y,z,cut,color,clarity
52264,-0.481793,-0.177460,-0.200377,-0.341261,-0.360998,-0.373255,4,6,4
21073,0.759547,-0.177460,-1.095448,0.905098,0.928292,0.904696,4,4,5
42161,-0.608031,1.005187,0.247159,-0.608339,-0.568668,-0.488127,4,4,3
35974,-0.797388,-0.803567,-0.647912,-0.804195,-0.750380,-0.861460,4,5,5
7641,0.002119,0.587782,0.247159,0.139477,0.166832,0.229823,5,4,8

In [31]:
from sklearn.linear_model import LinearRegression
li_regressor = LinearRegression()
li_regressor.fit(X_train_transformed, y_train)

LinearRegression()

In [32]:
y_test_pred = li_regressor.predict(X_test_transformed)

In [33]:
temp_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred})

temp_df.head()

       Actual    Predicted
52264    2491  2363.834740
21073    9248  7469.644228
42161    1284   643.298938
35974     921  1516.808210
7641     4268  5721.128606

In [34]:
from sklearn import metrics

print('Mean Absolute Error: ', metrics.mean_absolute_error(y_test, y_test_pred))

print('Mean Squared Error: ', metrics.mean_squared_error(y_test, y_test_pred))

print('Root Mean Squared Error: ', np.sqrt(metrics.mean_squared_error(y_test, y_test_pred)))

Mean Absolute Error:  795.4560135879738
Mean Squared Error:  1471939.156075997
Root Mean Squared Error:  1213.234996229501

In [35]:
from pickle import load

In [36]:
from pickle import dump

In [37]:
dump(scaler, open(r'C:\Users\Admin\Desktop\Diamond_price\models\standard_scaler.pkl', 'wb'))

In [38]:
scaler = load(open(r'C:\Users\Admin\Desktop\Diamond_price\models\standard_scaler.pkl', 'rb'))

In [39]:
num_scal=scaler.transform([[1.16 ,61.5 ,55.0 ,6.75 ,6.81 ,4.17]])
num_scal.flatten()

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

array([ 0.7595468 , -0.1774599 , -1.09544817,  0.90509846,  0.92829164,
        0.90469557])

# Run experiment

In [38]:
pip install mlflow

Collecting mlflow
  Using cached mlflow-1.29.0-py3-none-any.whl (16.9 MB)
Requirement already satisfied: scipy<2 in c:\users\admin\anaconda3\lib\site-packages (from mlflow) (1.7.3)
Collecting prometheus-flask-exporter<1
  Using cached prometheus_flask_exporter-0.20.3-py3-none-any.whl (18 kB)
Collecting docker<7,>=4.0.0
  Using cached docker-6.0.0-py3-none-any.whl (147 kB)
Requirement already satisfied: protobuf<5,>=3.12.0 in c:\users\admin\anaconda3\lib\site-packages (from mlflow) (3.19.1)
Requirement already satisfied: importlib-metadata!=4.7.0,<5,>=3.7.0 in c:\users\admin\anaconda3\lib\site-packages (from mlflow) (4.11.3)
Requirement already satisfied: numpy<2 in c:\users\admin\anaconda3\lib\site-packages (from mlflow) (1.21.5)
Requirement already satisfied: pyyaml<7,>=5.1 in c:\users\admin\anaconda3\lib\site-packages (from mlflow) (6.0)
Collecting databricks-cli<1,>=0.8.7
  Using cached databricks-cli-0.17.3.tar.gz (77 kB)
Collecting querystring-parser<2
  Using cached querystring_parser-1.2.4-py2.py3-none-any.whl (7.9 kB)
Requirement already satisfied: click<9,>=7.0 in c:\users\admin\anaconda3\lib\site-packages (from mlflow) (8.0.4)
Requirement already satisfied: pandas<2 in c:\users\admin\anaconda3\lib\site-packages (from mlflow) (1.4.2)
Requirement already satisfied: cloudpickle<3 in c:\users\admin\anaconda3\lib\site-packages (from mlflow) (2.0.0)
Collecting waitress<3
  Using cached waitress-2.1.2-py3-none-any.whl (57 kB)
Collecting gitpython<4,>=2.1.0
  Using cached GitPython-3.1.27-py3-none-any.whl (181 kB)
Requirement already satisfied: requests<3,>=2.17.3 in c:\users\admin\anaconda3\lib\site-packages (from mlflow) (2.27.1)
Requirement already satisfied: sqlalchemy<2,>=1.4.0 in c:\users\admin\anaconda3\lib\site-packages (from mlflow) (1.4.32)
Requirement already satisfied: entrypoints<1 in c:\users\admin\anaconda3\lib\site-packages (from mlflow) (0.4)
Collecting sqlparse<1,>=0.4.0
  Using cached sqlparse-0.4.3-py3-none-any.whl (42 kB)
Requirement already satisfied: packaging<22 in c:\users\admin\anaconda3\lib\site-packages (from mlflow) (21.3)
Requirement already satisfied: Flask<3 in c:\users\admin\anaconda3\lib\site-packages (from mlflow) (1.1.2)
Collecting alembic<2
  Using cached alembic-1.8.1-py3-none-any.whl (209 kB)
Requirement already satisfied: pytz<2023 in c:\users\admin\anaconda3\lib\site-packages (from mlflow) (2021.3)
Collecting Mako
  Using cached Mako-1.2.3-py3-none-any.whl (78 kB)
Requirement already satisfied: colorama in c:\users\admin\anaconda3\lib\site-packages (from click<9,>=7.0->mlflow) (0.4.4)
Requirement already satisfied: pyjwt>=1.7.0 in c:\users\admin\anaconda3\lib\site-packages (from databricks-cli<1,>=0.8.7->mlflow) (2.1.0)
Collecting oauthlib>=3.1.0
  Using cached oauthlib-3.2.1-py3-none-any.whl (151 kB)
Requirement already satisfied: tabulate>=0.7.7 in c:\users\admin\anaconda3\lib\site-packages (from databricks-cli<1,>=0.8.7->mlflow) (0.8.9)
Requirement already satisfied: six>=1.10.0 in c:\users\admin\anaconda3\lib\site-packages (from databricks-cli<1,>=0.8.7->mlflow) (1.16.0)
Requirement already satisfied: websocket-client>=0.32.0 in c:\users\admin\anaconda3\lib\site-packages (from docker<7,>=4.0.0->mlflow) (0.58.0)
Collecting pywin32>=304
  Downloading pywin32-304-cp39-cp39-win_amd64.whl (12.2 MB)
Requirement already satisfied: urllib3>=1.26.0 in c:\users\admin\anaconda3\lib\site-packages (from docker<7,>=4.0.0->mlflow) (1.26.9)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\admin\anaconda3\lib\site-packages (from Flask<3->mlflow) (2.0.3)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\admin\anaconda3\lib\site-packages (from Flask<3->mlflow) (2.11.3)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\admin\anaconda3\lib\site-packages (from Flask<3->mlflow) (2.0.1)
Collecting gitdb<5,>=4.0.1
  Using cached gitdb-4.0.9-py3-none-any.whl (63 kB)
Collecting smmap<6,>=3.0.1
  Using cached smmap-5.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: zipp>=0.5 in c:\users\admin\anaconda3\lib\site-packages (from importlib-metadata!=4.7.0,<5,>=3.7.0->mlflow) (3.7.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\admin\anaconda3\lib\site-packages (from Jinja2>=2.10.1->Flask<3->mlflow) (2.0.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\admin\anaconda3\lib\site-packages (from packaging<22->mlflow) (3.0.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas<2->mlflow) (2.8.2)
Requirement already satisfied: prometheus-client in c:\users\admin\anaconda3\lib\site-packages (from prometheus-flask-exporter<1->mlflow) (0.13.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests<3,>=2.17.3->mlflow) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests<3,>=2.17.3->mlflow) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\admin\anaconda3\lib\site-packages (from requests<3,>=2.17.3->mlflow) (2.0.4)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\admin\anaconda3\lib\site-packages (from sqlalchemy<2,>=1.4.0->mlflow) (1.1.1)
Building wheels for collected packages: databricks-cli
  Building wheel for databricks-cli (setup.py): started
  Building wheel for databricks-cli (setup.py): finished with status 'done'
  Created wheel for databricks-cli: filename=databricks_cli-0.17.3-py3-none-any.whl size=139099 sha256=4ed207fe7c6abb080101c7c1e7f09cc74047f626d5601737d6dfdfa66f9a4399
  Stored in directory: c:\users\admin\appdata\local\pip\cache\wheels\7b\ef\c5\85718fa9e66dec117e42d8b4d7b8a2e40ebdec17232935615f
Successfully built databricks-cli
Installing collected packages: smmap, pywin32, oauthlib, Mako, gitdb, waitress, sqlparse, querystring-parser, prometheus-flask-exporter, gitpython, docker, databricks-cli, alembic, mlflow
  Attempting uninstall: pywin32
    Found existing installation: pywin32 302
    Uninstalling pywin32-302:
      Successfully uninstalled pywin32-302
  Rolling back uninstall of pywin32
  Moving to c:\users\admin\anaconda3\lib\site-packages\__pycache__\pythoncom.cpython-39.pyc
   from C:\Users\Admin\AppData\Local\Temp\pip-uninstall-xged3xn5\pythoncom.cpython-39.pyc
  Moving to c:\users\admin\anaconda3\lib\site-packages\adodbapi
   from C:\Users\Admin\anaconda3\Lib\site-packages\~dodbapi
  Moving to c:\users\admin\anaconda3\lib\site-packages\isapi
   from C:\Users\Admin\anaconda3\Lib\site-packages\~sapi
  Moving to c:\users\admin\anaconda3\lib\site-packages\pythoncom.py
   from C:\Users\Admin\AppData\Local\Temp\pip-uninstall-tq1ykwy2\pythoncom.py
  Moving to c:\users\admin\anaconda3\lib\site-packages\pythonwin
   from C:\Users\Admin\anaconda3\Lib\site-packages\~ythonwin
  Moving to c:\users\admin\anaconda3\lib\site-packages\pywin32-302-py3.9.egg-info
   from C:\Users\Admin\anaconda3\Lib\site-packages\~ywin32-302-py3.9.egg-info
  Moving to c:\users\admin\anaconda3\lib\site-packages\win32\lib\
   from C:\Users\Admin\anaconda3\Lib\site-packages\win32\~ib
  Moving to c:\users\admin\anaconda3\lib\site-packages\win32com
   from C:\Users\Admin\anaconda3\Lib\site-packages\~in32com
  Moving to c:\users\admin\anaconda3\lib\site-packages\win32comext
   from C:\Users\Admin\anaconda3\Lib\site-packages\~in32comext
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\Admin\\anaconda3\\Lib\\site-packages\\win32\\_win32sysloader.pyd'
Consider using the `--user` option or check the permissions.

In [2]:
import mlflow

ModuleNotFoundError: No module named 'mlflow'

In [4]:
pip install mlflow --user #Consider using the `--user` option for checking the permissions.

Collecting mlflowNote: you may need to restart the kernel to use updated packages.
  Using cached mlflow-1.29.0-py3-none-any.whl (16.9 MB)
Requirement already satisfied: requests<3,>=2.17.3 in c:\users\admin\anaconda3\lib\site-packages (from mlflow) (2.27.1)
Requirement already satisfied: pytz<2023 in c:\users\admin\anaconda3\lib\site-packages (from mlflow) (2021.3)
Requirement already satisfied: packaging<22 in c:\users\admin\anaconda3\lib\site-packages (from mlflow) (21.3)
Requirement already satisfied: pandas<2 in c:\users\admin\anaconda3\lib\site-packages (from mlflow) (1.4.2)
Collecting docker<7,>=4.0.0
  Using cached docker-6.0.0-py3-none-any.whl (147 kB)
Collecting databricks-cli<1,>=0.8.7
  Using cached databricks_cli-0.17.3-py3-none-any.whl
Collecting alembic<2
  Using cached alembic-1.8.1-py3-none-any.whl (209 kB)
Requirement already satisfied: cloudpickle<3 in c:\users\admin\anaconda3\lib\site-packages (from mlflow) (2.0.0)
Requirement already satisfied: Flask<3 in c:\users\admin\anaconda3\lib\site-packages (from mlflow) (1.1.2)
Collecting sqlparse<1,>=0.4.0
  Using cached sqlparse-0.4.3-py3-none-any.whl (42 kB)
Requirement already satisfied: protobuf<5,>=3.12.0 in c:\users\admin\anaconda3\lib\site-packages (from mlflow) (3.19.1)
Collecting querystring-parser<2
  Using cached querystring_parser-1.2.4-py2.py3-none-any.whl (7.9 kB)
Requirement already satisfied: sqlalchemy<2,>=1.4.0 in c:\users\admin\anaconda3\lib\site-packages (from mlflow) (1.4.32)
Collecting waitress<3
  Using cached waitress-2.1.2-py3-none-any.whl (57 kB)
Requirement already satisfied: importlib-metadata!=4.7.0,<5,>=3.7.0 in c:\users\admin\anaconda3\lib\site-packages (from mlflow) (4.11.3)
Requirement already satisfied: entrypoints<1 in c:\users\admin\anaconda3\lib\site-packages (from mlflow) (0.4)
Requirement already satisfied: click<9,>=7.0 in c:\users\admin\anaconda3\lib\site-packages (from mlflow) (8.0.4)
Collecting gitpython<4,>=2.1.0
  Using cached GitPython-3.1.27-py3-none-any.whl (181 kB)
Requirement already satisfied: pyyaml<7,>=5.1 in c:\users\admin\anaconda3\lib\site-packages (from mlflow) (6.0)
Requirement already satisfied: numpy<2 in c:\users\admin\anaconda3\lib\site-packages (from mlflow) (1.21.5)
Collecting prometheus-flask-exporter<1
  Using cached prometheus_flask_exporter-0.20.3-py3-none-any.whl (18 kB)
Requirement already satisfied: scipy<2 in c:\users\admin\anaconda3\lib\site-packages (from mlflow) (1.7.3)
Collecting Mako
  Using cached Mako-1.2.3-py3-none-any.whl (78 kB)
Requirement already satisfied: colorama in c:\users\admin\anaconda3\lib\site-packages (from click<9,>=7.0->mlflow) (0.4.4)
Collecting oauthlib>=3.1.0
  Using cached oauthlib-3.2.1-py3-none-any.whl (151 kB)
Requirement already satisfied: six>=1.10.0 in c:\users\admin\anaconda3\lib\site-packages (from databricks-cli<1,>=0.8.7->mlflow) (1.16.0)
Requirement already satisfied: pyjwt>=1.7.0 in c:\users\admin\anaconda3\lib\site-packages (from databricks-cli<1,>=0.8.7->mlflow) (2.1.0)
Requirement already satisfied: tabulate>=0.7.7 in c:\users\admin\anaconda3\lib\site-packages (from databricks-cli<1,>=0.8.7->mlflow) (0.8.9)
Collecting pywin32>=304
  Using cached pywin32-304-cp39-cp39-win_amd64.whl (12.2 MB)
Requirement already satisfied: urllib3>=1.26.0 in c:\users\admin\anaconda3\lib\site-packages (from docker<7,>=4.0.0->mlflow) (1.26.9)
Requirement already satisfied: websocket-client>=0.32.0 in c:\users\admin\anaconda3\lib\site-packages (from docker<7,>=4.0.0->mlflow) (0.58.0)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\admin\anaconda3\lib\site-packages (from Flask<3->mlflow) (2.0.1)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\admin\anaconda3\lib\site-packages (from Flask<3->mlflow) (2.0.3)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\admin\anaconda3\lib\site-packages (from Flask<3->mlflow) (2.11.3)
Collecting gitdb<5,>=4.0.1
  Using cached gitdb-4.0.9-py3-none-any.whl (63 kB)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\admin\anaconda3\lib\site-packages (from gitdb<5,>=4.0.1->gitpython<4,>=2.1.0->mlflow) (5.0.0)
Requirement already satisfied: zipp>=0.5 in c:\users\admin\anaconda3\lib\site-packages (from importlib-metadata!=4.7.0,<5,>=3.7.0->mlflow) (3.7.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\admin\anaconda3\lib\site-packages (from Jinja2>=2.10.1->Flask<3->mlflow) (2.0.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\admin\anaconda3\lib\site-packages (from packaging<22->mlflow) (3.0.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas<2->mlflow) (2.8.2)
Requirement already satisfied: prometheus-client in c:\users\admin\anaconda3\lib\site-packages (from prometheus-flask-exporter<1->mlflow) (0.13.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\admin\anaconda3\lib\site-packages (from requests<3,>=2.17.3->mlflow) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests<3,>=2.17.3->mlflow) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests<3,>=2.17.3->mlflow) (3.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\admin\anaconda3\lib\site-packages (from sqlalchemy<2,>=1.4.0->mlflow) (1.1.1)
Installing collected packages: pywin32, oauthlib, Mako, gitdb, waitress, sqlparse, querystring-parser, prometheus-flask-exporter, gitpython, docker, databricks-cli, alembic, mlflow
Successfully installed Mako-1.2.3 alembic-1.8.1 databricks-cli-0.17.3 docker-6.0.0 gitdb-4.0.9 gitpython-3.1.27 mlflow-1.29.0 oauthlib-3.2.1 prometheus-flask-exporter-0.20.3 pywin32-304 querystring-parser-1.2.4 sqlparse-0.4.3 waitress-2.1.2

  WARNING: The script mako-render.exe is installed in 'C:\Users\Admin\AppData\Roaming\Python\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script waitress-serve.exe is installed in 'C:\Users\Admin\AppData\Roaming\Python\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script sqlformat.exe is installed in 'C:\Users\Admin\AppData\Roaming\Python\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The scripts databricks.exe and dbfs.exe are installed in 'C:\Users\Admin\AppData\Roaming\Python\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script alembic.exe is installed in 'C:\Users\Admin\AppData\Roaming\Python\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The scripts mlflow.exe and mlp.exe are installed in 'C:\Users\Admin\AppData\Roaming\Python\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

In [1]:
import mlflow

In [52]:
pip install -U setuptools

Requirement already satisfied: setuptools in c:\users\admin\anaconda3\lib\site-packages (61.2.0)Note: you may need to restart the kernel to use updated packages.

Collecting setuptools
  Downloading setuptools-65.4.1-py3-none-any.whl (1.2 MB)
Installing collected packages: setuptools
  Attempting uninstall: setuptools
    Found existing installation: setuptools 61.2.0
    Uninstalling setuptools-61.2.0:
      Successfully uninstalled setuptools-61.2.0
Successfully installed setuptools-65.4.1

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
spyder 5.1.5 requires pyqt5<5.13, which is not installed.
spyder 5.1.5 requires pyqtwebengine<5.13, which is not installed.
conda-repo-cli 1.0.4 requires pathlib, which is not installed.
anaconda-project 0.10.2 requires ruamel-yaml, which is not installed.

In [58]:
mlflow.set_tracking_uri("sqlite:///mlflow.db")
mlflow.set_experiment("diamond-price")

2022/10/02 12:07:35 INFO mlflow.tracking.fluent: Experiment with name 'diamond-price' does not exist. Creating a new experiment.

In [42]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

from sklearn import metrics

In [43]:
from pickle import dump
dump(scaler, open(r'C:\Users\Admin\Desktop\Diamond_price\models\standard_scaler.pkl', 'wb'))

# Training KNN classifier

In [51]:
with mlflow.start_run():#it starts with one of the experiment run
    mlflow.set_tag("dev", "sharanya")
    mlflow.set_tag("algo", "KNN")
    # log the data for each run using log_param, log_metric, log_model
    mlflow.log_param("data-path", r"data/C:\Users\Admin\Downloads\diamonds.csv")
    k = 53
    mlflow.log_param("n_neighbors", k)
    knn_classifier = KNeighborsClassifier(n_neighbors=k)
    knn_classifier.fit(X_train_num_rescaled, y_train)
    y_test_pred = knn_classifier.predict(X_train_num_rescaled)
    acc = metrics.accuracy_score(y_test, y_test_pred)
    mlflow.log_metric("accuracy", acc)
    mlflow.sklearn.log_model(knn_classifier, artifact_path="models")
    mlflow.log_artifact(r"C:\Users\Admin\Desktop\Diamond_price\models\standard_scaler.pkl")

# Training Logistic Regression

In [ ]:
with mlflow.start_run():
    mlflow.set_tag("dev", "sharanya")
    mlflow.set_tag("algo", "Logit")
    # log the data for each run using log_param, log_metric, log_model
    mlflow.log_param("data-path", r"data/C:\Users\Admin\Downloads\diamonds.csv")
    C = 0.1
    mlflow.log_param("C", C)
    lr_classifier = LogisticRegression(C=C)
    lr_classifier.fit(X_train_num_rescaled, y_train)
    y_test_pred = lr_classifier.predict(X_train_num_rescaled)
    acc = metrics.accuracy_score(y_test, y_test_pred)    
    mlflow.log_metric("accuracy", acc)
    mlflow.sklearn.log_model(lr_classifier, artifact_path="models")
    mlflow.log_artifact(r"C:\Users\Admin\Desktop\Diamond_price\models\standard_scaler.pkl")

# Training Naive Bayes

In [ ]:
with mlflow.start_run():
    mlflow.set_tag("dev", "sharanya")
    mlflow.set_tag("algo", "GaussianNB")
    # log the data for each run using log_param, log_metric, log_model
    mlflow.log_param("data-path", "data/C:\Users\Admin\Downloads\diamonds.csv")
    nb_classifier = GaussianNB()
    nb_classifier.fit(X_train_rescaled, y_train)
    y_test_pred = nb_classifier.predict(X_test_rescaled)
    acc = metrics.accuracy_score(y_test, y_test_pred)    
    mlflow.log_metric("accuracy", acc)
    mlflow.sklearn.log_model(nb_classifier, artifact_path="models")
    mlflow.log_artifact(r"C:\Users\Admin\Desktop\Diamond_price\models\standard_scaler.pkl")

# Training Decision Tree

In [ ]:
with mlflow.start_run():
    mlflow.set_tag("dev", "sharanya")
    mlflow.set_tag("algo", "DecisionTree")
    # log the data for each run using log_param, log_metric, log_model
    mlflow.log_param("data-path", "data/C:\Users\Admin\Downloads\diamonds.csv")
    depth = 3
    mlflow.log_param("max_depth", depth)
    dt_classifier = DecisionTreeClassifier(max_depth = depth)
    dt_classifier.fit(X_train_rescaled, y_train)
    y_test_pred = dt_classifier.predict(X_test_rescaled)
    acc = metrics.accuracy_score(y_test, y_test_pred)    
    mlflow.log_metric("accuracy", acc)
    mlflow.sklearn.log_model(dt_classifier, artifact_path="models")
    mlflow.log_artifact(r"C:\Users\Admin\Desktop\Diamond_price\models\standard_scaler.pkl")

# Training Support Vector Classifier

In [ ]:
with mlflow.start_run():
    mlflow.set_tag("dev", "sharanya")
    mlflow.set_tag("algo", "SVM")
    # log the data for each run using log_param, log_metric, log_model
    mlflow.log_param("data-path", "data/C:\Users\Admin\Downloads\diamonds.csv")
    C = 0.1
    mlflow.log_param("C", C)
    sv_classifier = SVC(C=C)
    sv_classifier.fit(X_train_rescaled, y_train)
    y_test_pred = sv_classifier.predict(X_test_rescaled)
    acc = metrics.accuracy_score(y_test, y_test_pred)    
    mlflow.log_metric("accuracy", acc)
    mlflow.sklearn.log_model(sv_classifier, artifact_path="models")
    mlflow.log_artifact(r"C:\Users\Admin\Desktop\Diamond_price\models\standard_scaler.pkl")

# Training KNN Classifier with Hyperparameter Tuning

In [54]:
from sklearn.model_selection import GridSearchCV

In [57]:
mlflow.sklearn.autolog(max_tuning_runs=None)

with mlflow.start_run():
    tuned_parameters = [{'n_neighbors':[i for i in range(1, 51)], 'p':[1, 2]}]

    clf = GridSearchCV(
        estimator=KNeighborsClassifier(), 
        param_grid=tuned_parameters, 
        scoring='accuracy',
        cv=5,
        return_train_score=True,
        verbose=1
    )
    clf.fit(X_train, y_train)
    
    # Disabling autologging
    mlflow.sklearn.autolog(disable=True)

Fitting 5 folds for each of 100 candidates, totalling 500 fits

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(
C:\Users\Admin\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
500 fits failed out of a total of 500.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\mlflow\utils\autologging_utils\safety.py", line 555, in safe_patch_function
    patch_function(call_original, *args, **kwargs)
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\mlflow\utils\autologging_utils\safety.py", line 254, in patch_with_managed_run
    result = patch_function(original, *args, **kwargs)
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\mlflow\sklearn\__init__.py", line 1559, in patched_fit
    return original(self, *args, **kwargs)
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\mlflow\utils\autologging_utils\safety.py", line 536, in call_original
    return call_original_fn_with_event_logging(_original_fn, og_args, og_kwargs)
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\mlflow\utils\autologging_utils\safety.py", line 471, in call_original_fn_with_event_logging
    original_fn_result = original_fn(*og_args, **og_kwargs)
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\mlflow\utils\autologging_utils\safety.py", line 533, in _original_fn
    original_result = original(*_og_args, **_og_kwargs)
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py", line 198, in fit
    return self._fit(X, y)
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\neighbors\_base.py", line 400, in _fit
    X, y = self._validate_data(X, y, accept_sparse="csr", multi_output=True)
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py", line 581, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\utils\validation.py", line 964, in check_X_y
    X = check_array(
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\utils\validation.py", line 746, in check_array
    array = np.asarray(array, order=order, dtype=dtype)
  File "C:\Users\Admin\anaconda3\lib\site-packages\pandas\core\generic.py", line 2064, in __array__
    return np.asarray(self._values, dtype=dtype)
ValueError: could not convert string to float: 'Very Good'

--------------------------------------------------------------------------------
400 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\mlflow\utils\autologging_utils\safety.py", line 435, in safe_patch_function
    return original(*args, **kwargs)
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py", line 198, in fit
    return self._fit(X, y)
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\neighbors\_base.py", line 400, in _fit
    X, y = self._validate_data(X, y, accept_sparse="csr", multi_output=True)
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py", line 581, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\utils\validation.py", line 964, in check_X_y
    X = check_array(
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\utils\validation.py", line 746, in check_array
    array = np.asarray(array, order=order, dtype=dtype)
  File "C:\Users\Admin\anaconda3\lib\site-packages\pandas\core\generic.py", line 2064, in __array__
    return np.asarray(self._values, dtype=dtype)
ValueError: could not convert string to float: 'Ideal'

--------------------------------------------------------------------------------
99 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\mlflow\utils\autologging_utils\safety.py", line 435, in safe_patch_function
    return original(*args, **kwargs)
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py", line 198, in fit
    return self._fit(X, y)
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\neighbors\_base.py", line 400, in _fit
    X, y = self._validate_data(X, y, accept_sparse="csr", multi_output=True)
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py", line 581, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\utils\validation.py", line 964, in check_X_y
    X = check_array(
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\utils\validation.py", line 746, in check_array
    array = np.asarray(array, order=order, dtype=dtype)
  File "C:\Users\Admin\anaconda3\lib\site-packages\pandas\core\generic.py", line 2064, in __array__
    return np.asarray(self._values, dtype=dtype)
ValueError: could not convert string to float: 'Very Good'

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Admin\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan]
  warnings.warn(
C:\Users\Admin\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the train scores are non-finite: [nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan]
  warnings.warn(

ValueError: could not convert string to float: 'Ideal'